:root{
  --color-headline: white !important;
  --color-text: gray!important;
  --color-background: #161616 !important;
  --color-background-accent: #080808!important;
}

.App {
  text-align: center;

  width: 100%;
  height: 100%;
  margin: 0px;

  background-color: var(--color-background);
  color:var(--color-text);

  font-family: Poppins,sans-serif;
  font-size: 1rem;

  text-rendering: optimizespeed;
}

h1{
  color: var(--color-headline);
}

h2{
  color: var(--color-headline);
  font-size: 1.2rem;
}

a{
  text-decoration: none;
  color: var(--color-text);
}

.header a{
  color: var(--color-headline);
}

a:hover{
  text-decoration: underline;
}



.header{
  display: flex;
  flex-basis: content;
  justify-content: center;

}

.header_link_list{
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  flex-basis: 75%;
}
.header_link_list li{
  margin-left: 10px;
  margin-right: 10px;
}

.header_logo_element{
  font-size: 1.5rem;
  align-self: center;

}

.welcome{
  display: flex;
  background-image: url("/public/IMG_0668.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 75vh;
}

.welcome_content{
  color: var(--color-headline);
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 25vh auto;
  max-width: 920px;
  text-align: center;
  line-height: 5vh;

}

.welcome_primary{
  font-size: 5rem;
}
.welcome_secondary{
  font-size: 2rem;


}

.repos{
  display: flex;
  list-style-type: none;
  justify-content: center;
  flex-wrap: wrap;

}

.repos li{
  margin-left: 25px;
  margin-right: 25px;
}

.footer{
  background-color: var(--color-background-accent);
  padding: 20px;
}
.footer_link_list{
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.footer_link_list li{
  margin-left: 10px;
  margin-right: 10px;
}